# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# Machine Learning generated models
*.joblib
*.pkl

# Node
node_modules/
dist/

# Vite
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/